<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ktm.gokul">

    <application>
        <activity android:name=".GokulMainActivity" />
        <activity-alias
            android:name=".GokulMainActivity"
            android:icon="@mipmap/ic_launcher_gokul"
            android:label="AD Gokul"
            android:targetActivity=".GokulMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>